input {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 20px;
}

.App {
  padding: 10px;
}

.error {
  color: rgb(208, 68, 68);
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.122);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
